.pokemon{
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
}
.pokemon_image{
    width: 250px;
    max-height: 80px;
   
}
.pokemon_name{
margin-bottom: 1rem;
letter-spacing: 0.5rem;
font-size: larger;

}
.pokemon:hover{
    background-color: beige;
    
}
